@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

body {
  margin: 0;
  font: 300 100%/1.625 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

strong {
  font-weight: 600;
}

h1 {
  font-weight: 600;
}

p {
  font-size: 1.125em;
}